body{
    text-align: center;
    margin: 0%;
    background-image: url(../img/fondoPared.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 700;
}
header{
    border-bottom: 25px solid black;
}
footer{
    border-top: 25px solid black;
    padding: 35px 0px;
    background-color: rgb(0, 100, 255);
    display: grid;
    grid-template-columns: 1fr 1fr;
}
h1{
    margin: 1em 0em;   
}
.navbar{
    padding: 0%;
}

.redes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


/*seccion de contacto*/
.contacto{
    height: vh;
    width: 500px;
    display: inline-block;
    margin-bottom: 5%;
}


/*seccion fotos*/
.car{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
.car img{
    border: 2em solid rgb(0, 100, 255);;
    border-radius: 25%;
}


/*seccion de precios*/
.precios{
    margin-bottom: 100px;
}
.precios ul li{
    list-style-type: none;
    margin-top: 10px;
}


/*seccion de horarios*/
.horarios div{
    margin-bottom: 25px;
}