body{
    text-align: center;
    margin: 0%;
    background-image: url(../img/fondoPared.jpg);
}
header{
    border-bottom: 25px solid black;
}
footer{
    border-top: 25px solid black;
    padding: 35px 0px;
    background-color: rgb(0, 100, 255);
    display: grid;
    grid-template-columns: 1fr 1fr;
}
h1{
    margin: 1em 0em;   
}
.navbar{
    padding: 0%;
}

.redes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


/*seccion de contacto*/
.contacto{
    height: vh;
    width: 500px;
    display: inline-block;
    margin-bottom: 5%;
}