body{
    text-align: center;
    margin: 0%;
    background-image: url(../img/fondoPared.jpg);
}
h1{
    margin: 1em 0em;   
}
.navbar{
    padding: 0%;
}
.imagenes figure{
    margin-top: 5em;

}
.imagenes figure img{
    height: 25em;
    width: 30em;
    border: 10px solid rgb(0, 100, 255);
    border-radius: 25%;
}
footer{
    padding: 35px 0px;
    background-color: rgb(0, 100, 255);
}
.redes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}