nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../img/fondoHeaderYFooter.jpg);
}

.titulo{
    color: black;
    text-align: center;
    margin: 0%;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin-right: 620px;
}

.secciones{
    word-spacing: 25px;
    margin-right: 10px;
}

.logo{
    display: flex;
}
.logo img{
    height: 75px;
}

.secciones a{
    font-weight: 700;
    text-decoration: none;
    text-shadow: 5px 5px 5px;
    color: black;
    font-size: large;  
}
/*espacio para nav*/


body{
    margin: 0%;
    background-image: url(../img/fondoPared.jpg)
}

header{
    margin-top: 30px;
}

header h1{
    text-align: center;
    font-weight: 700;
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
    color: red;
    text-transform: uppercase;
}

header h3{
    text-align: center;
    margin: 40px 40px;
}
/*espacio para el header*/


main{
    text-align: center;
}

main div ul{
    padding: 0%;
}

.inicio{
    border: 50px;
}

.precios{
    font-size: larger;
    font-weight: 700;
    margin-top: 95px;
    margin-bottom: 95px;
}

.precios li{
    padding: 10px;
}

.contacto{
    font-size: larger;
    text-align: center;
    margin-bottom: 80px;
}

section div ul li{
    padding: 10px;
    font-size: x-large;
}


footer{
    background-image: url(../img/fondoHeaderYFooter.jpg);
    padding: 20px;
    margin-top: 40px;
    text-align: center;
}



/*espacio para las imagenes en seccion de fotos*/
figure img{
    border-radius: 50px;
    border-top: 10px inset red;
    border-right: 10px inset blue;
    border-bottom: 10px inset blue;
    border-left: 10px inset red;
}

figure figcaption{
    font-weight: 700;
    margin-bottom: 25px;
}